<nav>
  <div class="container">
    <h1><%= link_to "Ted Martin.us", root_path %> <span style="color: gray; font-size: 20px;">| Blog</span></h1>
    <ul>
      <li><%#= link_to "Posts", root_path %></li>
    </ul>
  </div>
</nav>
