<% @posts.order(created_at: :desc).each do |post| %>
  <div class="index-post shadow">
    <h2><%= link_to post.name, post %></h2>
    <small><%= post.publishedOn.strftime("%B %e, %Y") %></small>
    <p><%= display_content post.content.to_s %></p>
  </div>
<% end %>
