/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
	--color-primary: #224c85;
	--color-primary-darker: #1a3a6f;
	--dark: #34495e;
	--light: #ffffff;
	--success: #34495e;
}
* {
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
	font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--color-primary);
}
a {
	color: var(--color-primary);
}

p {
	line-height: 1.6;
}

.shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-small {
	display: block;
	max-width: 700px;
	margin: 50px auto;
	padding: 0 1em;
}

.container {
	display: block;
	max-width: 1140px;
	margin: 50px auto;
	padding: 0 1em;
}

nav {
	background: #f7f7f7;
	padding: 1em;
	& .container {
		display: grid;
		grid-template-columns: 200px 1fr;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: flex-end;
			& a {
				margin-right: 1em;
			}
		}
	}
}

.index-post,
.post {
	padding: 25px;
	margin-bottom: 1.5em;
	& h2 {
		margin-bottom: 0.1em;
	}
	& small {
		color: #666;
	}
	& p {
		margin: 0.5em 0;
	}
}

.admin {
	display: grid;
	grid-template-columns: 300px 1fr;
	background-color: #f1f1f1;
	& .admin-content {
		padding: 2em;
		.top-header {
			margin-bottom: 2em;
			display: flex;
			justify-content: space-between;
			align-items: center;
			& a {
				color: white;
				background-color: var(--color-primary);
				padding: 0.5em 1em;
				text-decoration: none;
			}
		}
	}
	& .sidebar {
		background: #444444;
		padding: 2em;
		min-height: 100vh;
		& h3 {
			color: white;
			margin-bottom: 1em;
		}
		& .menu {
			list-style: none;
			padding: 0;
			padding-bottom: 25px;
			margin: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 98%;
			& a {
				display: block;
				text-decoration: none;
				color: white;
				margin-bottom: 1em;
			}
		}
	}
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: white;
}

th {
	color: #555555;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 16px;
	& img {
		max-width: 20px;
		display: block;
		margin: 0 auto;
	}
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

.form-group {
	margin-bottom: 1.5em;
	& label {
		display: block;
		margin-bottom: 0.2em;
	}
	& input,
	textarea,
	select {
		width: 100%;
		padding: 0.8em;
		margin-bottom: 0.1em;
		border: 1px solid #ddd;
		font-size: 18px;
	}
	& .trix-content {
		min-height: 200px;
		background-color: white;
	}
}
.checkbox {
	& label {
		display: inline-block;
		margin-bottom: 0.2em;
		color: #47433e;
	}
	& input {
		width: auto;
		margin-right: 0.5em;
	}
}
input[type='submit'] {
	background: var(--color-primary);
	color: white;
	border: none;
	padding: 1em 1.3em;
	font-size: 18px;
	cursor: pointer;
	&:hover {
		background: var(--color-primary-darker);
	}
}

.two-column {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-gap: 50px;
}

.error {
	margin: 0;
	color: darkred;
}

#notification {
	position: absolute;
	bottom: 25px;
	right: 25px;
	padding: 1em;
	margin-bottom: 1em;
	background-color: var(--success);
	color: white;
}

footer {
	margin-top: 50px;
	width: 100%;
	padding: 50px;
	background-color: #f7f7f7;
	& a {
		margin: 0;
		text-align: center;
		display: block;
	}
}
